<!--Main Navigation-->

    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-dark text-white">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4  text-white">
        <img   
            src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png"
            height="80"
            width="80"
            alt=""
            class="user-img"
          />
          <a
            routerLink="/home"
            class="list-group-item list-group-item-action py-2 ripple redondo"
            aria-current="true"
          >
            <i class="fas fa-home fa-fw me-3"></i><span>Home</span>
          </a>
          <a routerLink="/altaAdministrador" class="list-group-item list-group-item-action py-2 ripple redondo">
            <i class="fas fa-plus-circle fa-fw me-3"></i><span>Crear Administrador</span>
          </a>
          <a routerLink="/usuarios" class="list-group-item list-group-item-action py-2 ripple redondo"
            ><i class="fas fa-users fa-fw me-3"></i><span>Usuarios</span></a>
          <a routerLink="/restaurantes" class="list-group-item list-group-item-action py-2 ripple redondo"
            ><i class="fas fa-store fa-fw me-3"></i><span>Restaurantes</span></a>
        </div>
      </div>
    </nav>
    <!-- Sidebar -->
    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg bg-info fixed-top ">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#sidebarMenu"
          aria-controls="sidebarMenu"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
  
        <!-- Brand -->
        <a class="navbar-brand" routerLink="/home"><img src="./assets/VPI-icon.png" height="50" loading="lazy" /><img src="./assets/vpi.png" height="50" loading="lazy" /></a>
        <!-- Right links -->
        <ul class="navbar-nav ms-auto d-flex flex-row ">
          <!-- Tuerca -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="https://cdn1.iconfinder.com/data/icons/32-soft-media-icons--Vol-2/33/configuration.png"
                class="rounded-circle"
                height="22"
                alt=""
                loading="lazy"
              />
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <li>
                <a class="dropdown-item" href="#"><i class="fas fa-power-off" ></i> Cerrar Sesión</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->

  <!--Main Navigation-->
  
  <!--Main layout-->
  <main style="margin-top: 58px;">
    <div class="container pt-4"></div>
  </main>
  <!--Main layout-->